ops
pyyaml
git+https://github.com/omnivector-solutions/interface-slurmctld.git@master
git+https://github.com/omnivector-solutions/slurm-ops-manager.git@master
git+https://github.com/omnivector-solutions/interface-slurmd.git@master
